*{
    font-family:Arial, Helvetica, sans-serif;

    background-color: black;
    color: white;
}

body{
    padding-left: 20px;
    padding-right: 20px;
}

#cabecalho{
    padding-bottom: 170px;
}

#logo{
    width: 99%;
    float: right;
    text-align: center;
}

#h1-logo{
    color: rgb(8, 197, 8);
    font-size: 100px;
    margin: 0px;
    padding: 0px;
}

#menu{
    width: 1%;
    float: left;

    margin: 0px;
    padding: 0px; 
}

#menu ul li{
    text-align: left;
    list-style-type: none;

    margin-left: -20px
}

table {
    width: 100%;
}

th{
    text-align: left;
}

a:link{
    color: green;

    text-decoration: none;
}

a:hover{
    color: rgb(35, 214, 35);
}

a:visited{
    color: rgb(35, 214, 35);
}

#relacionadas li{
    list-style-type: none;
}

#main h1{
    color: rgb(8, 197, 8);
    font-size: 35px;
}

#main figure{
    margin: 0;
    padding: 0;
}

#main img{
    width: 700px;
    height: 400px;
}

#main button{
    margin-top: 15px;
}

form input{
    padding: 7px;
}

form textarea{
    resize: none;
}

#redes-sociais h1{
    font-size: 100px;
}