*{
    font-family:Arial, Helvetica, sans-serif;

    background-color: black;
    color: white;
}

#cabecalho{
    padding-bottom: 170px;
    width: 100%;
}

#logo{
    width: 99%;
    float: right;
    text-align: center;
}

#menu{
    width: 1%;
    float: left;

    margin: 0;
    padding: 0; 
}

#menu ul li{
    text-align: right;
    list-style-type: none;

    margin: 0;
    padding: 0;
}

#h1-logo{
    color: rgb(8, 197, 8);
    font-size: 100px;
    margin: 0;
    padding: 0;
}



table {
    width: 100%;
}

th{
    text-align: left;
}

a:link{
    color: green;

    text-decoration: none;
}

a:hover{
    color: rgb(35, 214, 35);
}

a:visited{
    color: rgb(35, 214, 35);
}